@charset "UTF-8";

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.nav {
	width: 320px; /*Ширина*/
	min-width: 320px; /*Минимильная ширина*/
	height: 100%; /*Высота панели*/
	position: fixed; /*Панель зафиксирована*/
	top: 0;
	bottom: 0;
	margin: 0;
	left: -320px; /*Прячем панель относительно левого края страницы*/
	padding: 15px 20px; /*Внутренние отступы*/
	-webkit-transition: left 0.3s; /*Плавные переходы смещения панели*/
	-moz-transition: left 0.3s;
	transition: left 0.3s;
	background: #16a085; /*Цвет фона панели*/
	z-index: 2000; /*Поверх других элементов*/
}

/*Кнопка переключения панели*/

.nav-toggle {
	position: absolute; /*Абсолютная позиция*/
	left: 320px; /*Отступ от левого края панели*/
	top: 80px; /*Отступ от верхнего края панели*/
	padding: 0.5em; /*Внутренний отступ*/
	background: inherit; /*Цвет фона переключателя будет соответствовать цвету формы панели*/
	color: #dadada; /*Цвет текста*/
	cursor: pointer; /*Вид курсора*/
	font-size: 1.2em; /*Размер шрифта*/
	line-height: 1;
	z-index: 2001; /*Всегда поверх других элементов таблицы*/
	-webkit-transition: color .25s ease-in-out; /*анимация цвета текста при наведении*/
	-moz-transition: color .25s ease-in-out;
	transition: color .25s ease-in-out;
}

/*Определение текста кнопки*/

.nav-toggle:after {
	content: '\2630';
	text-decoration: none;
}

/*Цвет текста при наведении*/

.nav-toggle:hover {
	color: #f4f4f4;
}

/*Скрытый чекбокс, невидимый и недоступный, имя селектора атрибут флажка*/
	
[id='nav-toggle'] {
	position: absolute;
	display: none;
}

/*Изменение положения переключателя про просмотре на мобильных устройствах
Когда навигация открыта, располагается внутри панели*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle {
    left: auto;
    right: 2px;
    top: 80px;
}

/*Изменение положения переключателя при просмотре на мобильных устройствах*
когда навигация раскрыта, располагаем внутри панели*/

[id='nav-toggle']:checked ~ .nav {
	left: 0;
	box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
	-moz-box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
	-webkit-box-shadow: 4px 0px 20px 0px rgba(0,0,0, 0.5);
	overflow-y: auto;
}

/*Смещение контента страницы на размер ширины панели, если не надо удали!*/

[id='nav-toggle']:checked ~ main > article {
	-webkit-transform: translateX(320px);
	-moz-transform: translateX(320px);
	transform: translateX(320px);
}

/*Изменение символа переключателя, можно использовать любой другой значок, если не надо удали!*/

[id='nav-toggle']:checked ~ .nav > .nav-toggle: after {
	content: '\2715';
}

/*Фикс бага в Android ниже версии 4.1.2, нифиг это надо - решай сам*/

body {
	-webkit-animation: bugfix infinite 1s;
}

@-webkit-keyframes bugfix {
	to {
		padding: 0;
	}
}

/*Отображение на средних и маленьких экранах мобильных устройств*/

@media screen and (min-width: 320px) {
	html,
	body {
		margin: 0;
		overflow-x: hidden;
	}
}

@media screen and (max-width: 320px) {
	html,
	body {
		margin: 0;
		overflow-x: hidden;
	}
	.nav {
		width: 100%;
		box-shadow: none;
}

/*Формируем стиль заголовка (логотип) панели*/

.nav h2 {
	width: 90%;
	padding: 0;
	margin: 10px 0;
	text-align: center;
	text-shadow: rgba(255, 255, 255, .1) -1px -1px -1px, rgba(0, 0, 0, .5) 1px 1px 1px;
	font-size: 1.3em;
	line-height: 1.3em;
	opacity: 0;
	transform: scale(0.1, 0.1);
	-ms-transform: scale(0.1, 0.1);
	-moz-transform: scale(0.1, 0.1);
	-webkit-transform: scale(0.1, 0.1);
	transform-origin: 0% 0%;
	-ms-transform-origin: 0%, 0%;
	-moz-transform-origin: 0%, 0%;
	-webkit-transform-origin: 0%, 0%;
	transition: opacity 0.8s, transform 0.8s;
	-ms-transiton: opacity 0.8s, -ms-transform 0.8s;
	-moz-transition: opacity 0.8s, -moz-transform 0.8s;
	-webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
}

.nav h2 a {
	color: #dadada;
	text-decoration: none;
	text-transform: uppercase;
}

/*Плавное появление логотипа при раскрытии панели*/

[id='nav-toggle']:checked ~ .nav h2 {
    opacity: 1;
    transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}

/*Формирование самого меню, используется неупорядоченный список для пунктов меню
и добавляются трансформации и плавные переходы*/

.nav > ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav > ul > li {
	line-heigt: 2.5;
	opacity: 0;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: opacity .5s .1s, -webkit-transform .5s .1s;
	-moz-transition: opacity .5s .1s, -moz-transform .5s .1s;
	-ms-transition: opacity .5s .1s, -ms-transform .5s .1s;
	transition: opacity ,5s ,1s, transform .5s .1s;
}

[id='nav-toggle']:checked ~ .nav > ul > li {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

/*Определение интервалов появления пунктов меню*/

.nav > ul > li:nth-child(2) {
	-webkit-transition: opacity .5s .2s, -webkit-stransform .5s .2s;
	transition: opacity .5s .2s, transform .5s .2s;
}

.nav > ul > li:nth-child(3) {
	-webkit-transition: opacity .5s .3s, -webkit-stransform .5s .3s;
	transition: opacity .5s .3s, transform .5s .3s;
}

.nav > ul > li:nth-child(4) {
	-webkit-transition: opacity .5s .4s, -webkit-stransform .5s .4s;
	transition: opacity .5s .4s, transform .5s .4s;
}

.nav > ul > li:nth-child(5) {
	-webkit-transition: opacity .5s .5s, -webkit-stransform .5s .5s;
	transition: opacity .5s .5s, transform .5s .5s;
}

.nav > ul > li:nth-child(6) {
	-webkit-transition: opacity .5s .6s, -webkit-stransform .5s .6s;
	transition: opacity .5s .6s, transform .5s .6s;
}

.nav > ul > li:nth-child(7) {
	-webkit-transition: opacity .5s .7s, -webkit-stransform .5s .7s;
	transition: opacity .5s .7s, transform .5s .7s;
}

/*Оформление ссылок пунктов меню*/

.nav > ul > li > a {
	display: inline-block;
	position: relative;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: #dadada;
	width: 100%;
	text-decoration: none;'
	-webkit-transition: color .5s ease, padding .5s ease; /*Плавный переход*/
	-moz-transition: color .5s ease, padding .5s ease;
	transition: color .5s ease, padding .5s ease;
}

/*Состояние ссылок меню при наведении*/

.nav > ul > li > a:hover,
.nav > ul > li > a:focus {
    color: white;
    padding-left: 15px;
}

/*Линия подчёркивания ссылок меню*/

.nav > ul > li > a:before {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	-webkit-transition: width 0s ease;
	transition: width 0s ease;
}

.nav > ul > li > a:after {
	content: '';
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 1px;
	width: 100%;
	background: #3bc1a0;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
}

/*Анимация линии подчёркивания ссылок при наведении*/

.nav > ul > li > a:hover:before {
	width: 0%;
	background: #3bc1a0;
	-webkit-transition: width .5s ease;
	transition: width .5s ease;
}

.nav > ul > li > a:hover:after {
	width: 0%;
	background: transparent;
	-webkit-transition: width 0s ease;
	transition: width 0s ease;
}
